#logo {
    text-align: center;
}

#logo #git-star {
    max-height: 100px;
    max-width: 100px;
}

#logo .welcome {
    text-align: center;
    font-weight: bold;
}

#result #repo-list .repo-item{
    text-align: left;
}