#logo {
    text-align: center;
}

#logo #git-star {
    max-height: 100px;
    max-width: 100px;
}

#logo .welcome {
    text-align: center;
    font-weight: bold;
}

#result #repo-list .repo-item{
    text-align: left;
}

.icon {
    padding-left: 9px;
}

.description {
    padding-right: 30px;
}

.loading {
    width: 270px;
}